#main {
    width: auto;
    /* Passt sich der Breite des Inhalts an */
    max-width: 80%;
    /* Optional: Begrenzung der maximalen Breite */
    height: auto;
    /* Passt sich der Höhe des Inhalts an */
    padding: 20px;
    /* Fügt etwas Abstand um den Text hinzu */
    text-align: center;
    /* From https://css.glass */
    background: #363745;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(126, 115, 115, 0.1);
}

    a {
        background-color: #7b5dcc;
        color: #FDFFF5;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
    }

    a:hover {
        background-color: #876ece;
        color: #FDFFF5;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
    }

    a:active {
        background-color: #7d6da7;
        color: #FDFFF5;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
    }

body {
    background-image: url(./img/main.jpg);
    background-size: 120%;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    /* Zentriert horizontal */
    align-items: center;
    /* Zentriert vertikal */
    height: 100vh;
    /* Volle Höhe des Bildschirms */
    margin: 0;
}

/* Falls der Bildschirm kleiner als 900px ist (z. B. Mobile), zoomt es rein und deaktiviert repeat */
@media (max-width: 900px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }
}

h1, h2, a {
    font-family: 'Lucida Sans', sans-serif;
    color: #FDFFF5;
}

img {
    border-radius: 100%;
    outline: 2px solid #FDFFF5; /* Dicke, Stil und Farbe der Outline */
    width: 10%;
}
